<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wiking</title>
</head>
<body>
  <a href="{% url 'index' %}">Main Page</a>
  <a href="{% url 'random_redirect' %}">Random Entry</a>
  <form action="{% url 'search' %}" method="get">
    <input type="text" name="title">
    <input type="submit" value="Search">

  </form>
  {% block body %}
  {% endblock %}
</body>
</html>