.App {
  font-size: x-large;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #ede4ff;
  color: white;
}

button {
  font-size: x-large;
}

.schulteTable {
  /*   flex: 60%; */
  /* margin: auto; */
  display: grid;
  /* grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto; */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 600px;
  height: 600px;
  max-width: 600px;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  background-color: #a076f9;
  border-radius: 15px;
}

.tile {
  border: 1px solid black;
  font-size: xx-large;
  /* border: none; */
  border-radius: 15px;
  cursor: pointer;
}

.unclicked {
  background-color: #d7bbf5;
}

.unclicked:hover {
  background-color: #f3d1d1;
}

.clicked {
  background-color: #6528f7;
  color: #ede4ff;
}

.clicked:hover {
}

.controlPanel {
  background-color: #855de0;
  height: 100%;
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.playAgain {
  width: 210px;
  height: 70px;
  padding: 20px 0px;
  cursor: pointer;
}

.statistics {
  background-color: #855de0;
  height: 100%;
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chronometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 20%;
}

.matchesInfo {
  flex: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggleVisibilityContainer {
  width: 100%;
  flex: 10%;
}

.toggleVisibility {
  float: right;
  margin: 10px;
}

.playAgainContainer {
  flex: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  flex: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
