.App {
  font-size: x-large;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #ede4ff;
  color: white;
}

button {
  font-size: x-large;
  border: 1px solid black;
  font-size: xx-large;
  border-radius: 15px;
  cursor: pointer;
  background-color: #d7bbf5;
}

button:hover {
  background-color: #f3d1d1;
}

.schulteTable {
  /*   flex: 60%; */
  /* margin: auto; */
  position: relative;
  display: grid;
  /* grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto; */
  width: 600px;
  height: 600px;
  max-width: 600px;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  background-color: #a076f9;
  border-radius: 15px;
}

.grid3x3 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid4x4 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid5x5 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tile {
  /* border: 1px solid black;
  font-size: xx-large;
  border-radius: 15px;
  cursor: pointer; */
}

.unclicked {
  background-color: #d7bbf5;
}

.unclicked:hover {
  background-color: #f3d1d1;
}

.clicked {
  background-color: #6528f7;
  color: #ede4ff;
}

.clicked:hover {
  background-color: #6528f7;
}

.controlPanel {
  position: absolute;
  background-color: #855de0;
  height: 100%;
  /* flex: 20%; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.playAgain {
  width: 210px;
  height: 70px;
  padding: 20px 0px;
  cursor: pointer;
}

.statistics {
  position: absolute;
  transform: translate(-100%, 0);
  left: 100%;
  background-color: #855de0;
  height: 100%;
  width: 20vw;
  /* flex: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chronometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 20%;
}

.matchesInfo {
  flex: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggleVisibilityContainer {
  width: 100%;
  flex: 10%;
}

.toggleVisibility {
  float: right;
  margin: 10px;
}

.playAgainContainer {
  flex: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  flex: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exposePanels {
  position: absolute;
  align-self: flex-start;
  margin: 10px 20px;
}

.hidden {
  visibility: hidden;
}

.tableReplay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 160px;
  height: 160px;
  padding: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 60px 60px; */
  box-shadow: 0px 0px 8.4px rgba(0, 0, 0, 0.093),
    0px 0px 20.2px rgba(0, 0, 0, 0.133), 0px 0px 38.1px rgba(0, 0, 0, 0.165),
    0px 0px 67.9px rgba(0, 0, 0, 0.197), 0px 0px 127px rgba(0, 0, 0, 0.237),
    0px 0px 304px rgba(0, 0, 0, 0.33);

  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.replaySvg {
  width: 120px;
  height: 120px;
}

.playSvg {
  padding-left: 20px;
  width: 120px;
  height: 120px;
}

.textHidden {
  color: rgba(0, 0, 0, 0);
}

.revealTileShortly {
  animation: reveal 1s;
}

@keyframes reveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
